@{
    ViewData["Title"] = "General";
    Layout = "_Layout";

    var user = ViewBag.User;
}

<div class="content" style="justify-content:center;width:100% ;height:100%;margin:20px 0">
    <div>
        <p><b>@(user.Surname + " " + user.Name + " " + user.MiddleName)</b></p>
        <p>Email: @(user.Email)</p>
        <p>Номер телефону: @(user.PhoneNumber)</p>
        <p>Зареєстрований: @(user.CreatedAt)</p>
    </div>
</div>
